@import './color.scss';
$page-top-background:#D7DDE4;
$dropdown-menu-background: #D7DDE4;
$user-body-border:#D7DDE4;
$header-bottom-border:rgb(218, 223, 228);
$header-bottom-border-shadow:rgb(218, 223, 228);
$top-input-color-override: $black;
$logo-color: #85CE36;
$user-color: #85CE36;
$login-border-color:#e0629b;
$auth-block-background-color:#FFF;
$sidebar-background-color:#3A4651;
$sidebar-background-color-hover:#85CE36;
$sidebar-list-border: #3A4651;
$sidebar-list-text-color: #ffffff;
$sidebar-list-text-color-hover:#FFF;
$sidebar-hover-elem-border-color:rgba(29, 53, 4, 0.89)(112, 231, 233);
$btn-primary-color:#85CE36;
$btn-primary-border-color:rgb(81, 139, 19);