// Page Top Start (Header)
$page-top-color: #d4e4ef;
$top-input-color-override: black;
$logo-color: #00ACDD;
$user-color: #00ACDD;
$header-bottom-border:#004166;
$header-bottom-border-shadow: rgba(0, 0, 0, 0.5);
$user-footer-background:#eaeff6;
$user-footer-background-hover:#e7e7e7;
$user-footer-border:#ddd;
$user-footer-border-hover:#adadad;
$user-footer-btn-default:#666;
$user-header-color:white;
$user-header-background:#325d93;
$user-body-anchor-color:#444;
$user-body-anchor-background:white;
$sidebar-background-color:#15273f;
$sidebar-background-color-hover:#132338;
$sidebar-list-border: #21272a;
$sidebar-list-text-color: #ddd;
$sidebar-list-text-color-hover:#00ACDD;
$sidebar-hover-elem-border-color:#00ACDD;

// Page Top End

//Login Start
$text-color: #ffffff;
$text-color-hover:#d6d6d6;


